body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 40px;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.content {
    text-align: center;
    margin: 70px 50px 0px 50px;
}

.start {
    font-size: 20px;
    padding: 15px 30px 15px 30px;
}

.btn {
    background-color: #008B8B;
}

.hide {
    display: none;
 }

